body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
}

a{
    color: #32A8B8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}


.tabela{
    background: #000000;
}

.tabela th {
    background: #C8E2EE;
    padding: 5px;
}

.tabela td {
    background: #FFFFFF;
    padding: 5px;
}

.alinharDireita {
    text-align: right;
}